<!DOCTYPE html>
<html>
  <head>
    <title>Dashboards</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="3sYwpL2iUF8cvc6/06Bq8wzonqbGBM/BdeziL14RG0TNgYfkoiVnAcrMgd4QWtlGJaD15JQu3218JOPG+ufBzg==" />

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  </head>

  <body>
    <h1>Dashboards</h1>

<ul>
  <li>
    <a href="/forex">
      Foreign exchange rates
    </a>
  </li>

  <li>
    <a href="/covid">
      U.S. states COVID-19 data
    </a>
  </li>
</ul>

  </body>
</html>